* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-white-1: #fff;
  --text-color-black-1: #202024;
  --text-color-black-2: #121214;
  --color-blue-1: #387e96;
  --color-blue-2: #469ebc;
  --color-blue-3: #065e7c;
  --color-white-1: #f4fcff;

  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

body {
  color: var(--text-color-black-2);
  font-size: 1.6rem;
  line-height: 160%;
  overflow-x: hidden;

}

header {
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-blue-1);

  padding: 1.2rem 2.8rem;

  animation: slide 0.5s;
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  background: var(--color-white-1);
  border-radius: 50%;

  opacity: 0;
  animation: slide-in-left 0.5s 0.5s both;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  height: 4rem;
  padding: 1.6rem;

  background: var(--color-blue-2);
  border: 0;
  border-radius: 0.4rem;

  animation: slide-in-down 0.5s 0.5s both;
}

.input-wrapper input::placeholder {
  color: var(--text-color-white-1);

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100;
}

.profile {
  width: 4.2rem;
  border-radius: 50%;

  animation: slide-in-right 0.5s 0.5s both;
}

.cover {
  width: 100vw;

  animation: slide 0.5s;
}

main,
aside {
  padding: 0 2.2rem;
}

.title {
  margin: 3.1rem 0 3.1rem 2.2rem;
}

.title h1 {
  margin-bottom: 0.8rem;
  color: var(--text-color-black-1);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

.button-wrapper {
  display: flex;
  gap: 12px;
}

.button {
  width: 4rem;
  padding: 1.2rem;
  border-radius: 50%;

  background: var(--color-blue-3);

  animation: slide-in 0.5s;
}

aside {
  margin-top: 3.4rem;
}

aside h2 {
  margin-bottom: 3.4rem;
}

.item {
  display: flex;
  align-items: center;
  margin: 3.2rem 0;
}

.item img {
  height: 8.4rem;
}

.item h3 {
  margin-bottom: 1.6rem;
}

.item-desc {
  margin-left: 1.6rem;
}

.item-desc p {
  color: var(--text-color-black-2);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue-1);
  height: 6.4rem;

  color: var(--text-color-white-1);
  font-weight: 600;
}

/* Animações */

@keyframes drop {
  0% {
    transform: rotateX(-180deg);
    transform-origin: Top;
  }

  100% {
    transform: rotateX(0);
    transform-origin: top;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */

@media (min-width: 1440px) {
  :root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .app {
    display: grid;
    grid-template-areas:
      "cover cover aside"
      "main main aside";
    grid-template-rows: 40.5rem;
    grid-template-columns: 40.15rem 40.15rem;

    margin: 4.4rem 11rem 4rem 11rem;
  }

  .cover {
    max-height: 40.5rem;
    max-width: 80.3rem;
    object-fit: cover;

    border-radius: 5px;

    grid-area: cover;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  main {
    grid-area: main;

    padding: 0;
  }

  .title {
    margin: 3.2rem auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .button {
    align-self: flex-start;
  }

  aside {
    margin: 0;

    grid-area: aside;
  }
}